<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Voici tous vos identifiants</h1>
    {% for identifier in login_informations_list %}
    <p>{{ identifier.password }}</p>
    <p>{{ identifier.website_name }}</p>
    <p>{{ identifier.Username_id.username }}</p>
    <a href="{% url 'username_update' identifier.Username_id.id %}">Modifier</a>
    </br>
    <a href="{% url 'username_delete' identifier.Username_id.id %}">Supprimer</a>
    {% endfor %}
</body>
</html>