<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Voici tous vos identifiants</h1>
    {% for item in combined_data %}
    <p>{{ item.login_info.website_name }}</p>
    <p>{{ item.login_info.Username_id.username }}</p>
    <p>{{ item.decrypted_password }}</p>

    <a href="{% url 'username_update' item.login_info.Username_id_id %}">Modifier</a>
    </br>
    <a href="{% url 'username_delete' item.login_info.Username_id_id %}">Supprimer</a>
    {% endfor %}
</body>
</html>