<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identifiant(s)</title>
</head>
<body>
    <p>c'est ici que vous pouvez gérer vos identifiants</p>
    <form method="POST">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            {% for formset in combined_data %}
            <tr>
                <td><label for="password">Password :</label></td>
                <td><input type="text" name="decrypted_password" value="{{ formset.decrypted_password }}" ></td>
            </tr>
            <tr>
                <td><label for="website_name">Website name :</label></td>
                <td><input type="text" name="website_name" value="{{ formset.login_info.website_name }}" ></td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="test">
    </form>
    {{ message }}
</body>
</html>