{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Créer un compte</title>
</head>
<body>
    <h2>Je m'inscris gratuitement</h2>
    <form method="POST">
        <div id="div_form0">
            <div id="div_form">
                <table>
                {% csrf_token %}
                {{ form.as_table }}
                </table>
            </div>
        </div>
        <div id="div_button0">
            <div id="div_button">
                <input type="submit" value="valider">
            </div>
        </div>

    </form>
    <div id="div_message">
        <p>J'ai déjà un compte</p><br>
    </div>
    <div id="div_lien">
        <a href="../login/">me connecter</a>
    </div>

</body>
</html>