{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <h2>Je me connecte</h2>
    <form method="POST">
        <div id="div_form_login0">
            <div id="div_form_login">
                <table>
                    {% csrf_token %}
                    {{ form.as_table }}
                </table>
            </div>
        </div>
        <div id="div_button_login0">
            <div id="div_button_login">
                <input type="submit" value="se connecter">
            </div>
        </div>

    </form>
    <div id="div_message_login">
            <p>Je n'ai pas de compte</p><br/>
    </div>
    <div id="div_lien_login">
        <a href="../signup/">créer un compte</a>
    </div>
</body>
</html>